body {
	background-color: #F4F4F4;
}
#title-box {
	color: #DCD0C0;
	background-color: #373737;
	border-radius: 0.5em;
	padding: 2em;
	margin-top: 0.5em;
}

#id_list_table {
	margin-top: 1em;
}

.btn.btn-default.btn-sm a:hover{
	color:black; 
	text-decoration: none;
}

.btn.btn-default.btn-sm a:active{
	text-decoration: none;
}